 body { 
    margin: 0;
    padding: 0;
    background-color: #222;
    color: #ddd;
    overflow: hidden;
}

.indeximgs{
    display: flex;
    width: 600px;
    height: 430px;
}
section img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .3;
    transition: .5s ease;
}
section img:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}
main {
    margin: 50px auto;
    max-width: 800px;
    text-align: center;
}

form {
    display: flex;
    margin-bottom: 30px;
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: none;
}

input[type="text"] {
    border: 2px solid #666;
    background-color: #444;
    color: #ddd;
    padding: 10px;
    width: 100%;
    margin-right: 10px;
    font-size: 16px;
    font-weight: bold;
}

button[type="submit"] {
    background-color:#2E8B57;
    color: #222;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #ddd;
    color:#2E8B57;
}

a {
    display: inline-block;
    background-color:#2E8B57;
    color: #222;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #ddd;
    color:#2E8B57;
}

