<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/staticsFragments :: head">
</head>
<body>
	<header th:replace="layout/staticsFragments :: navbar"></header>
	
	<main>
		<div class="container">
			<div class="d-flex justify-content-center">
				<section class="indeximgs">
					<img src="/img/carpintero.jpg" alt="carpintero">
					<img src="/img/jardinero.jpg" alt="jardinero">
					<img src="/img/metalurgico.jpg" alt="metalurgico">
					<img src="/img/pileta.jpg" alt="pileta">
					<img src="/img/plomero.jpg" alt="plometo">
				</section>
			</div>
		</div>
	</main>
	
	<footer th:replace="layout/staticsFragments :: footer"></footer>
</body>
</html>