<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhml"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/staticsFragments :: head">
</head>
<body>
	<header th:replace="layout/staticsFragments :: navbar"></header>
	<div
		class="container position-absolute top-50 start-50 translate-middle shadow-lg p-2 mb-5 bg-body rounded  border-secondary">
		<form>
			<input type="hidden" />
			<div class="mb-3">
				<label for="servicio">[[#{offering.form.tipo.servicio}]]</label>
				<select name="servicio" class="form-select">
					<option selected>----</option>
					<option value="Gasista">[[#{offering.form.gasista}]]</option>
					<option value="Plorero">[[#{offering.form.plomero}]]</option>
					<option value="Electricista">[[#{offering.form.electricista}]]</option>
				</select>
			</div>
			<div class="mb-3">
				<label for="cuerpoNoticia" class="form-label">[[#{offering.form.descripcion}]]</label> <br>
				<textarea name="cuerpo" type="text" class="form-control" id="cuerpoNoticia">
					</textarea>
			</div>
			<div class="d-grid gap-2">
               <button class="btn btn-warning" type="button">[[#{offering.form.button}]]</button>
           </div>
		</form>
		<br>
	</div>
	<footer th:replace="layout/staticsFragments :: footer"></footer>
</body>

</html>